doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div
			h1 Jonathan Stichbury
			p Looking for work, hire me! Here is some more stuff (checkout LinkedIn)
		block content