doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		section#posts
			div#masthead
				h2 Jonathan Stichbury
				p I'm a Software Engineer looking for work in Germany.
				p
				| Check out my 
				a(href='http://de.linkedin.com/in/jonathanstichbury', target='_blank') LinkedIn
				|  or my 
				a(href='http://www.youtube.com/jonotkd', target='_blank') Youtube
			block content