body {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  line-height: 1.7;
  background-image: url('/images/agsquare.png');
}

a {
  color: #00B7FF;
}

div#masthead a {
	text-decoration: none;
}

div#masthead a h1 {
	color: blue;
	font-size: 2em;
	font-family: 'Cabin', sans-serif;
}

section#posts{
	display: block;
	width: 650px;
	margin: 0 auto;
}

article {
	background-color: white;
	border: 1px solid #dddddd;
	padding: 5px;
	margin-top: 40px;
}

article header a {
	text-decoration: none;
}

article header a h2 {
	font-family: 'Cabin', serif;
	color: #009EFF;
}

article header p#date{
	color: #888;
	margin-top: -15px;
}
